Repository ChistokhinSV/gns3-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-fast, version-check

pytest-fast:
  name: Fast unit tests
  entry: pytest tests/unit -q --tb=line
  language: system
  pass_filenames: false

version-check:
  name: Version consistency
  entry: python scripts/check_version.py
  language: system
  pass_filenames: false

refactor(phase2): migrate Batch 1 tools to DI pattern (GM-74)
  gns3_mcp/server/main.py
Due: pytest-fast

refactor(phase2): migrate Batch 2 tools to DI pattern (GM-74)
  gns3_mcp/server/main.py
Due: pytest-fast

refactor(phase2): migrate Batch 3 tools to DI pattern (GM-74)
  gns3_mcp/server/main.py
Due: pytest-fast

docs: mark Phase 2 complete in transition roadmap (GM-74)
  docs/GLOBAL_STATE_TRANSITION.md
Due: none

chore: release v0.51.0 - Phase 2 complete (GM-74)
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

refactor: project_tools.py to pure DI (Phase 2.5, Batch 1 partial)
  .coverage
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/project_tools.py
Due: pytest-fast

refactor: establish pure DI pattern for impl functions (Phase 2.5 partial)
  gns3_mcp/server/tools/link_tools.py
  gns3_mcp/server/tools/template_tools.py
Due: pytest-fast

docs: add Phase 2.5 (Pure DI) progress tracking
  docs/GLOBAL_STATE_TRANSITION.md
Due: none

refactor: get_node_file_impl to pure DI (Batch A, 1/2)
  .coverage
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/node_tools.py
Due: pytest-fast

refactor: query_resource to pure DI (Batch A, 2/2)
  .coverage
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/resource_tools.py
Due: pytest-fast

refactor: create_node_impl to pure DI (Batch B, 1/5)
  .coverage
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/node_tools.py
Due: pytest-fast

refactor: delete_node_impl + helper to pure DI (Batch B, 2/5)
  .coverage
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/node_tools.py
Due: pytest-fast

refactor: write_node_file_impl to pure DI (Batch B, 3/5)
  .coverage
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/node_tools.py
Due: pytest-fast

refactor: configure_node_network_impl to pure DI (Batch B, 4/5)
  .coverage
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/node_tools.py
Due: pytest-fast

refactor: 3 drawing functions to pure DI (Batch B, 5/5)
  .coverage
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/drawing_tools.py
Due: pytest-fast

refactor: create_drawings_batch_impl to pure DI (Batch C, 1/3)
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/drawing_tools.py
Due: pytest-fast

refactor: set_connection_impl to pure DI (Batch C, 2/3)
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/link_tools.py
Due: pytest-fast

refactor: set_node_impl + helper to pure DI (Batch C, 3/3)
  .coverage
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/node_tools.py
Due: pytest-fast

chore: bump version to 0.52.0
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

fix: resolve linting errors for v0.52.0 release
  CHANGELOG.md
  gns3_mcp/server/di_container.py
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/drawing_tools.py
Due: pytest-fast

feat: console tools enhancement v0.53.0 (GM-76)
  CHANGELOG.md
  gns3_mcp/__init__.py
  gns3_mcp/server/tools/console_tools.py
  gns3_mcp/server/tools/link_tools.py
  gns3_mcp/server/tools/node_tools.py
  gns3_mcp/server/tools/project_tools.py
  gns3_mcp/server/tools/resource_tools.py
  gns3_mcp/server/tools/template_tools.py
  mcp-server/manifest.json
  pyproject.toml
  tests/unit/test_context.py
  tests/unit/test_di_container.py
Due: pytest-fast, version-check

fix: update manifest.json tool list to match CRUD consolidation
  mcp-server/manifest.json
Due: version-check

chore: bump version to 0.53.2
  .claude/settings.local.json
  .coverage
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

fix: AppContext interface implementation mismatch (v0.53.3)
  .claude/settings.local.json
  .coverage
  CHANGELOG.md
  gns3_mcp/__init__.py
  gns3_mcp/server/app.py
  gns3_mcp/server/interfaces.py
  gns3_mcp/server/main.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

fix: pagination infinite loop and dev mode support (v0.53.4)
  CHANGELOG.md
  gns3_mcp/__init__.py
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/console_tools.py
  mcp-server/manifest.json
  pyproject.toml
  server.cmd
Due: pytest-fast, version-check

fix: environment variable support and project tool TypeError (v0.53.5)
  CHANGELOG.md
  gns3_mcp/__init__.py
  gns3_mcp/server/app.py
  gns3_mcp/server/main.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

fix: link and drawing tools AttributeError (v0.53.6)
  CHANGELOG.md
  gns3_mcp/__init__.py
  gns3_mcp/server/main.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

feat: SSH proxy v0.3.0 - multi-service architecture (TFTP, HTTP reverse proxy, HTTP client)
  .github/workflows/build-ssh-proxy.yml
  CHANGELOG.md
  CLAUDE.md
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/http_client_tools.py
  gns3_mcp/server/tools/tftp_tools.py
  ssh-proxy/.dockerhub/description-long.md
  ssh-proxy/.dockerhub/description-short.txt
  ssh-proxy/Dockerfile
  ssh-proxy/README.md
  ssh-proxy/config/nginx.conf
  ssh-proxy/config/supervisord.conf
  ssh-proxy/server/main.py
  ssh-proxy/server/models.py
Due: pytest-fast

fix: correct imports in tftp and http_client tools (use absolute imports with TYPE_CHECKING)
  gns3_mcp/server/tools/http_client_tools.py
  gns3_mcp/server/tools/tftp_tools.py
Due: pytest-fast

fix: add unix_http_server and supervisorctl config to supervisord.conf
  ssh-proxy/config/supervisord.conf
Due: none

fix: add entrypoint script to ensure TFTP directory exists
  ssh-proxy/Dockerfile
  ssh-proxy/docker-entrypoint.sh
Due: none

feat: single-port architecture for GNS3 integration
  ssh-proxy/Dockerfile
  ssh-proxy/config/nginx.conf
  ssh-proxy/config/supervisord.conf
Due: none

feat(console): add wait-only mode for send_and_wait operation
  CHANGELOG.md
  gns3_mcp/__init__.py
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/console_tools.py
  gns3_mcp/server/tools/http_client_tools.py
  gns3_mcp/server/tools/tftp_tools.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

feat(ssh-proxy): add traffic graph widgets v0.4.0
  CHANGELOG.md
  ssh-proxy/Dockerfile
  ssh-proxy/config/nginx.conf
  ssh-proxy/docker-compose.yml
  ssh-proxy/server/main.py
  ssh-proxy/server/models.py
  ssh-proxy/server/widget_manager.py
  ssh-proxy/static/app.js
  ssh-proxy/static/index.html
  ssh-proxy/static/style.css
Due: pytest-fast

fix(ssh-proxy): use relative import in widget_manager
  ssh-proxy/server/widget_manager.py
Due: pytest-fast

fix(ssh-proxy): rename GNS3_ env vars to CONTROLLER_ (GNS3 filters GNS3_*)
  ssh-proxy/docker-compose.yml
  ssh-proxy/server/main.py
Due: pytest-fast

fix(ssh-proxy): use ubridge TCP hypervisor for traffic stats
  ssh-proxy/README.md
  ssh-proxy/docker-compose.yml
  ssh-proxy/server/main.py
  ssh-proxy/server/models.py
  ssh-proxy/server/widget_manager.py
Due: pytest-fast

fix(ssh-proxy): search candidates first in bridge discovery
  ssh-proxy/server/widget_manager.py
Due: pytest-fast

fix(ssh-proxy): use Source NIO only for TX/RX stats
  ssh-proxy/server/widget_manager.py
Due: pytest-fast

feat(ssh-proxy): v0.5.5 - internal proxy redirect and orphan widget cleanup
  ssh-proxy/config/nginx.conf
  ssh-proxy/server/main.py
  ssh-proxy/server/models.py
  ssh-proxy/server/static/widgets.html
  ssh-proxy/server/widget_manager.py
  ssh-proxy/static/app.js
  ssh-proxy/static/index.html
  ssh-proxy/static/style.css
Due: pytest-fast

Path conditions:
  pytest-fast: any of: \.py$
  version-check: any of: ^(gns3_mcp/__init__\.py|pyproject\.toml|mcp-server/manifest\.json)$
