Repository ChistokhinSV/gns3-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, build-mcpb

pytest:
  name: Run pytest tests
  entry: bash -c 'pytest tests/unit -v --tb=short || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

build-mcpb:
  name: Build desktop extension
  entry: bash -c 'cd mcp-server && npx @anthropic-ai/mcpb pack'
  language: system
  pass_filenames: false

docs: update CHANGELOG and CLAUDE.md with SVG generation info
  CHANGELOG.md
  CLAUDE.md
Due: none

fix(v0.33.1): auto-rename node when API ignores custom name
  CHANGELOG.md
  mcp-server/manifest.json
  mcp-server/server/tools/node_tools.py
Due: pytest, build-mcpb

chore(v0.33.2): rename resource 'Project nodes' to 'Project nodes list'
  CHANGELOG.md
  mcp-server/manifest.json
  mcp-server/server/main.py
Due: pytest, build-mcpb

refactor(v0.33.3): create_node returns NodeSummary instead of full API response
  CHANGELOG.md
  mcp-server/manifest.json
  mcp-server/server/tools/node_tools.py
Due: pytest, build-mcpb

fix(v0.33.4): remove confusing status column from proxy registry
  CHANGELOG.md
  mcp-server/manifest.json
  mcp-server/server/resources/session_resources.py
Due: pytest, build-mcpb

feat(v0.34.0): console state tracking - require read before send
  CHANGELOG.md
  mcp-server/manifest.json
  mcp-server/server/console_manager.py
  mcp-server/server/main.py
  mcp-server/server/prompts/topology_discovery.py
  mcp-server/server/tools/console_tools.py
Due: pytest, build-mcpb

feat(v0.34.0): auto-cleanup SSH sessions on node deletion
  CHANGELOG.md
  mcp-server/server/tools/node_tools.py
Due: pytest, build-mcpb

docs(v0.34.0): update skill with console state tracking and SSH cleanup
  skill/SKILL.md
Due: none

feat(v0.35.0): auto-update lib/ when requirements.txt changes
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

fix(v0.35.0): add sys.path setup for bundled dependencies in Claude Desktop
  CHANGELOG.md
  mcp-server/manifest.json
  mcp-server/server/main.py
Due: pytest, build-mcpb

fix(v0.36.0): fix MCP tool name validation - replace spaces with underscores
  CHANGELOG.md
  mcp-server/manifest.json
  mcp-server/server/main.py
Due: pytest, build-mcpb

feat(v0.37.0): improve Windows service reliability and code quality
  CHANGELOG.md
  configure-service.ps1
  install-service-auto.ps1
  mcp-server/start_mcp_http.py
Due: pytest

feat(v0.38.0): non-blocking startup with background authentication
  mcp-server/manifest.json
  mcp-server/server/gns3_client.py
  mcp-server/server/main.py
  mcp-server/start_mcp_http.py
  server.cmd
Due: pytest, build-mcpb

docs(v0.38.0): update README and SERVICE_SETUP for v0.38.0
  README.md
  SERVICE_SETUP.md
Due: none

chore(v0.38.0): remove obsolete installation scripts
  .claude/settings.local.json
  configure-service.ps1
  install-service-auto.ps1
  install-service.ps1
  uninstall-service.ps1
Due: none

fix(v0.38.1): fix admin privilege escalation in server.cmd
  server.cmd
Due: none

fix(v0.38.1): keep elevated window open to show output
  server.cmd
Due: none

feat(v0.39.0): Phase 1 MCP protocol enhancements (partial)
  mcp-server/manifest.json
  mcp-server/server/instructions.md
  mcp-server/server/main.py
  mcp-server/start_mcp_http.py
Due: pytest, build-mcpb

feat(v0.39.0): Phase 1 MCP protocol enhancements - instructions, completions, progress
  CHANGELOG.md
  mcp-server/server/instructions.md
  mcp-server/server/main.py
  mcp-server/server/tools/node_tools.py
  mcp-server/server/tools/ssh_tools.py
Due: pytest, build-mcpb

fix(v0.39.0): remove unsupported completion handler, enhance param descriptions
  CHANGELOG.md
  CLAUDE.md
  mcp-server/server/main.py
Due: pytest, build-mcpb

feat(v0.40.0): wildcard bulk operations, topology report, structured exceptions
  CHANGELOG.md
  CLAUDE.md
  mcp-server/manifest.json
  mcp-server/server/exceptions.py
  mcp-server/server/instructions.md
  mcp-server/server/main.py
  mcp-server/server/resources/project_resources.py
  mcp-server/server/resources/resource_manager.py
  mcp-server/server/tools/node_tools.py
  project-b-lessons-adoption-report.md
Due: pytest, build-mcpb

fix(server.cmd): separate service commands from direct run, add stop/restart
  server.cmd
Due: none

fix(server.cmd): configure NSSM stop timeouts for clean shutdown
  server.cmd
Due: none

fix(server.cmd): show console window for debugging service shutdown
  server.cmd
Due: none

fix(start_mcp_http): add SIGTERM handler for graceful Windows service shutdown
  mcp-server/start_mcp_http.py
Due: pytest

fix(v0.40.1): Windows service graceful shutdown - signal handlers and helpers
  mcp-server/manifest.json
  mcp-server/start_mcp_http.py
  start-service-elevated.bat
  stop-service-elevated.bat
  test-service-stop.py
Due: pytest, build-mcpb

fix(v0.40.1): migrate from NSSM to WinSW for reliable graceful shutdown
  GNS3-MCP-HTTP.exe.REMOVED.git-id
  GNS3-MCP-HTTP.xml
  SERVICE_SETUP.md
  server.cmd
  start-service-elevated.bat
  stop-service-elevated.bat
  test-service-stop.py
  winsw.exe.REMOVED.git-id
Due: pytest

Remove binary executables and update .gitignore
  .gitignore
  GNS3-MCP-HTTP.exe.REMOVED.git-id
  winsw.exe.REMOVED.git-id
Due: none

Add automatic WinSW download to server.cmd and update documentation
  README.md
  server.cmd
Due: none

Add GitHub Action workflow for building MCP server binary
  .github/workflows/build-mcpb.yml
Due: none

Update .gitignore to exclude mcp-server.mcpb binary
  .gitignore
  mcp-server/.gitignore
Due: none

Remove old version history from README
  README.md
Due: none

Remove old version announcements (v0.6.2, v0.11.0, v0.12.0) from README
  README.md
Due: none

Replace CLAUDE.md reference with CHANGELOG.md for version history
  README.md
Due: none

Rewrite README: concise version with essential information only
  README.md
Due: none

Add Claude Code installation instructions
  README.md
Due: none

fix: GitHub Actions workflow - add system deps and verification steps
  .github/workflows/build-mcpb.yml
Due: none

Path conditions:
  pytest: any of: \.py$
  build-mcpb: any of: ^mcp-server/(server/.*\.py|manifest\.json)$
