Repository ChistokhinSV/gns3-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-fast, version-check

pytest-fast:
  name: Fast unit tests
  entry: pytest tests/unit -q --tb=line
  language: system
  pass_filenames: false

version-check:
  name: Version consistency
  entry: python scripts/check_version.py
  language: system
  pass_filenames: false

feat(ssh-proxy): v0.5.12 - rotated direction arrow with visible base indicator
  ssh-proxy/server/main.py
  ssh-proxy/server/models.py
  ssh-proxy/server/widget_manager.py
  ssh-proxy/static/app.js
  ssh-proxy/static/index.html
Due: pytest-fast

fix(console): detect stale sessions after node recreation (GM-84)
  CHANGELOG.md
  gns3_mcp/__init__.py
  gns3_mcp/server/console_manager.py
  gns3_mcp/server/interfaces.py
  gns3_mcp/server/tools/console_tools.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

fix(service): always sync venv deps on dev start/install (GM-85)
  server.cmd
Due: none

docs: fold SSH Proxy v0.4.0 into v0.53.8 changelog (was Unreleased)
  CHANGELOG.md
Due: none

feat: v0.54.0 - GNS3 notification stream support
  CHANGELOG.md
  CLAUDE.md
  gns3_mcp/__init__.py
  gns3_mcp/server/app.py
  gns3_mcp/server/instructions.md
  gns3_mcp/server/main.py
  gns3_mcp/server/notification_manager.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

fix: v0.54.1 - IOU properties, reconnect action, GM-84 hardening
  CHANGELOG.md
  gns3_mcp/__init__.py
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/console_tools.py
  gns3_mcp/server/tools/node_tools.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

docs: remove changelog from manifest long_description
  mcp-server/manifest.json
Due: version-check

fix: v0.54.2 - HTTP transport startup (StarletteWithLifespan middleware)
  CHANGELOG.md
  gns3_mcp/__init__.py
  gns3_mcp/server/main.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

chore: gitignore runtime secrets, track uv.lock
  .claude/settings.local.json
  .coverage
  .gitignore
  GNS3-MCP-HTTP.xml
  uv.lock
Due: none

Path conditions:
  pytest-fast: any of: \.py$
  version-check: any of: ^(gns3_mcp/__init__\.py|pyproject\.toml|mcp-server/manifest\.json)$
