Repository ChistokhinSV/gns3-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, build-mcpb

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.2
    hooks:
      # Run linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Run formatter
      - id: ruff-format

  # Black - Code formatter
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3

  # Mypy - Type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies: [
          'pydantic>=2.12.3',
          'httpx>=0.28.1',
          'types-aiofiles',
        ]
        exclude: 'mcp-server/lib/'

  # Pytest - Run tests
  - repo: local
    hooks:
      - id: pytest
        name: Run pytest tests
        entry: bash -c 'pytest tests/unit -v --tb=short || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]

  # Build desktop extension
  - repo: local
    hooks:
      - id: build-mcpb
        name: Build desktop extension
        entry: bash -c 'cd mcp-server && npx @anthropic-ai/mcpb pack'
        language: system
        pass_filenames: false
        files: '^mcp-server/(server/.*\.py|manifest\.json)$'

feat: add GitHub release creation on version tags
  .github/workflows/build-mcpb.yml
Due: none

fix: update manifest to v0.3 and prevent duplicate workflow runs
  .github/workflows/build-mcpb.yml
  mcp-server/manifest.json
Due: build-mcpb

fix: add permissions and prevent duplicate workflow runs on tags
  .github/workflows/build-mcpb.yml
Due: none

fix: fetch all tags in workflow for release detection
  .github/workflows/build-mcpb.yml
Due: none

feat: security hardening v0.41.0 - authentication, privilege reduction, HTTPS
  .mcp.json
  GNS3-MCP-HTTP.xml
  README.md
  mcp-server/manifest.json
  mcp-server/server/gns3_client.py
  mcp-server/server/main.py
  mcp-server/start_mcp_http.py
  requirements.txt
  server.cmd
Due: pytest, build-mcpb

feat: PyPI packaging with optimized GitHub Actions (GM-3)
  .github/workflows/build-mcpb.yml
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest, build-mcpb

fix: GitHub Actions triggers and npm cache config
  .github/workflows/build-mcpb.yml
Due: none

feat: redesign Windows service to use gns3-mcp CLI (GM-17)
  GNS3-MCP-HTTP.xml
  mcp-server/start_mcp_http.py
  server.cmd
Due: pytest

fix: update server.cmd run command to use gns3-mcp CLI
  server.cmd
Due: none

fix: add missing CLI arguments and fix deprecation warnings
  gns3_mcp/cli.py
  gns3_mcp/server/main.py
Due: pytest

feat: Just-based local CI/CD workflow (GM-18)
  .pre-commit-config.yaml
  CHANGELOG.md
  CLAUDE.md
  gns3_mcp/__init__.py
  gns3_mcp/server/link_validator.py
  gns3_mcp/server/tools/node_tools.py
  justfile
  mcp-server/manifest.json
  pyproject.toml
  pytest.ini
  scripts/check_changelog.py
  scripts/check_version.py
  scripts/get_version.py
  tests/conftest.py
  tests/test_mcp_server.py
  tests/unit/test_console_manager.py
  tests/unit/test_error_handling.py
  tests/unit/test_version.py
Due: pytest, build-mcpb

feat: automated version bumping with `just bump` (GM-20)
  justfile
  scripts/bump_version.py
Due: pytest

style: apply Black/Ruff formatting across codebase
  .coverage
  gns3_mcp/cli.py
  gns3_mcp/server/batch_models.py
  gns3_mcp/server/console_manager.py
  gns3_mcp/server/error_utils.py
  gns3_mcp/server/exceptions.py
  gns3_mcp/server/export_tools.py
  gns3_mcp/server/gns3_client.py
  gns3_mcp/server/main.py
  gns3_mcp/server/models.py
  gns3_mcp/server/prompts/__init__.py
  gns3_mcp/server/prompts/lab_setup.py
  gns3_mcp/server/prompts/node_setup.py
  gns3_mcp/server/prompts/ssh_setup.py
  gns3_mcp/server/prompts/topology_discovery.py
  gns3_mcp/server/prompts/troubleshooting.py
  gns3_mcp/server/resources/__init__.py
  gns3_mcp/server/resources/project_resources.py
  gns3_mcp/server/resources/resource_manager.py
  gns3_mcp/server/resources/session_resources.py
  gns3_mcp/server/tools/console_tools.py
  gns3_mcp/server/tools/drawing_tools.py
  gns3_mcp/server/tools/link_tools.py
  gns3_mcp/server/tools/project_tools.py
  gns3_mcp/server/tools/ssh_tools.py
  gns3_mcp/server/tools/template_tools.py
  tests/interactive_console_test.py
  tests/list_nodes_helper.py
  tests/simple_console_test.py
  tests/test_list_projects_summary.py
  tests/test_mcp_console.py
  tests/test_port_field.py
  tests/unit/test_export_tools.py
  tests/unit/test_gns3_client.py
  tests/unit/test_link_validator.py
  tests/unit/test_models.py
Due: pytest

fix: PowerShell syntax in justfile and setuptools license deprecation
  justfile
  pyproject.toml
Due: none

perf: optimize GitHub Actions cache to only rebuild on dependency changes
  .github/workflows/build-mcpb.yml
Due: none

fix: desktop extension missing source code (CRITICAL v0.42.0-v0.43.0 bugfix)
  .gitignore
  CHANGELOG.md
  gns3_mcp/__init__.py
  justfile
  mcp-server/manifest.json
  pyproject.toml
  scripts/bump_version.py
Due: pytest, build-mcpb

fix: remove license classifier conflicting with license expression
  .github/workflows/build-mcpb.yml
  pyproject.toml
Due: none

docs: update CHANGELOG for v0.43.1 with license classifier fix
  CHANGELOG.md
Due: none

fix: GitHub Actions workflow missing source code copy step (CRITICAL)
  .github/workflows/build-mcpb.yml
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest, build-mcpb

fix: add FastAPI to deps + cleanup __pycache__ + correct size check (v0.43.3)
  .github/workflows/build-mcpb.yml
  CHANGELOG.md
  gns3_mcp/__init__.py
  justfile
  mcp-server/manifest.json
  pyproject.toml
Due: pytest, build-mcpb

fix: use Python-based __pycache__ cleanup (v0.43.4)
  .github/workflows/build-mcpb.yml
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest, build-mcpb

fix: revert manifest_version to 0.2 for Claude Desktop compatibility (v0.43.4)
  .github/workflows/build-mcpb.yml
  CHANGELOG.md
  mcp-server/manifest.json
Due: build-mcpb

fix: downgrade to mcpb@1.1.2 + manifest_version 0.2 for Claude Desktop compatibility (v0.43.4)
  .github/workflows/build-mcpb.yml
  CHANGELOG.md
  justfile
Due: none

docs: add authentication warning to server instructions (v0.43.4)
  gns3_mcp/server/instructions.md
Due: none

chore: bump version to 0.43.5 - add authentication warning
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest, build-mcpb

fix: create Windows runner for platform compatibility (v0.43.6)
  .github/workflows/build-mcpb-linux-DISABLED.yml
  .github/workflows/build-mcpb-windows.yml
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest, build-mcpb

chore: bump version to 0.43.7 - PyPI duplicate rejection
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest, build-mcpb

fix: remove Linux workflow completely - no Claude Desktop for Linux
  .github/workflows/build-mcpb-linux-DISABLED.yml
Due: none

chore: bump version to 0.43.8 - Windows-only clean build
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest, build-mcpb

fix: use forward slashes in GitHub release file paths (v0.43.9)
  .github/workflows/build-mcpb-windows.yml
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest, build-mcpb

fix: cache contamination - Windows runner used Linux binaries (v0.43.10)
  .github/workflows/build-mcpb-windows.yml
  .gitignore
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest, build-mcpb

fix: pip wheel cache contamination - real root cause (v0.43.11)
  .github/workflows/build-mcpb-windows.yml
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest, build-mcpb

docs: modernize installation instructions (v0.46.1)
  .claude/settings.local.json
  .coverage
  .github/workflows/build-mcpb-windows.yml
  CHANGELOG.md
  CLAUDE.md
  README.md
  gns3_mcp/__init__.py
  gns3_mcp/server/main.py
  gns3_mcp/server/tools/resource_tools.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest, build-mcpb

docs: simplify installation using --env flags (v0.46.2)
  .github/workflows/build-mcpb-windows.yml
  .mcp.json
  CHANGELOG.md
  CLAUDE.md
  README.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest, build-mcpb

added short version of the command
  .github/workflows/build-mcpb-windows.yml
Due: none

localhost is the default
  .github/workflows/build-mcpb-windows.yml
Due: none

fix: resolve circular import error for uvx/pip installations (v0.46.3)
  .claude/settings.local.json
  .coverage
  CHANGELOG.md
  gns3_mcp/__init__.py
  gns3_mcp/server/tools/resource_tools.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest, build-mcpb

fix: program delimiter in uv parameters
  .github/workflows/build-mcpb-windows.yml
Due: none
