Repository ChistokhinSV/gns3-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-fast, version-check

pytest-fast:
  name: Fast unit tests
  entry: pytest tests/unit -q --tb=line
  language: system
  pass_filenames: false

version-check:
  name: Version consistency
  entry: python scripts/check_version.py
  language: system
  pass_filenames: false

feat: portable Windows service with uvx (v0.46.4)
  CHANGELOG.md
  GNS3-MCP-HTTP.xml
  PORTABLE_SETUP.md
  README.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
  run-uvx.cmd
  server.cmd
  set-env-vars.ps1
Due: pytest-fast, version-check

added scope specification to mcp add command
  .github/workflows/build-mcpb-windows.yml
  README.md
Due: none

fixed scope specification
  .github/workflows/build-mcpb-windows.yml
  README.md
Due: none

feat(v0.47.0): Aggressive tool consolidation (32->22 tools, GM-26)
  .claude/settings.local.json
  .coverage
  CHANGELOG.md
  CLAUDE.md
  README.md
  gns3_mcp/__init__.py
  gns3_mcp/server/main.py
  gns3_mcp/server/prompts/lab_setup.py
  gns3_mcp/server/prompts/node_setup.py
  gns3_mcp/server/prompts/ssh_setup.py
  gns3_mcp/server/prompts/topology_discovery.py
  gns3_mcp/server/prompts/troubleshooting.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

fix: validation_error incorrect parameters in console/SSH tools
  .claude/settings.local.json
  .mcp.json
  gns3_mcp/server/tools/console_tools.py
  gns3_mcp/server/tools/ssh_tools.py
Due: pytest-fast

chore(v0.47.1): Bug fix release - validation_error parameters
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

fix(GM-34): Smart console read - auto-wake QEMU consoles
  .claude/settings.local.json
  .coverage
  gns3_mcp/server/tools/console_tools.py
Due: pytest-fast

feat(GM-34): Safety - skip non-read ops in batch if terminal not accessed
  gns3_mcp/server/tools/console_tools.py
Due: pytest-fast

chore(v0.47.2): Bug fix + safety release - console operations (GM-34)
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

feat: Add safety_policy field to batch console response
  gns3_mcp/server/tools/console_tools.py
Due: pytest-fast

chore(v0.47.3): Enhancement - safety policy indicator in batch response
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

fix: Remove dangerous auto-wake on console read
  gns3_mcp/server/tools/console_tools.py
Due: pytest-fast

chore(v0.47.4): Fix - remove dangerous auto-wake feature
  .coverage
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

docs: Clarify console read can return empty (normal behavior)
  gns3_mcp/server/main.py
Due: pytest-fast

fix: Complete SSH API fix for GM-35 - add read operation
  gns3_mcp/server/tools/ssh_tools.py
Due: pytest-fast

fix: Update tests for table format and correct import paths
  tests/test_list_projects_summary.py
  tests/test_mcp_console.py
Due: pytest-fast

chore: Release v0.47.5 - SSH API fix + test fixes
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

fix: SSH command operation - remove non-existent parameters
  gns3_mcp/server/tools/ssh_tools.py
Due: pytest-fast

chore: Release v0.47.6 - SSH command operation fix
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

fix: auto-install uv when uvx not found for service user
  run-uvx.cmd
Due: none

fix: bypass PowerShell execution policy for uv installer
  run-uvx.cmd
Due: none

debug: add verbose location checking for uvx after install
  run-uvx.cmd
Due: none

fix: load .env in wrapper, remove broken env var expansion from XML
  GNS3-MCP-HTTP.xml
  run-uvx.cmd
Due: none

feat: v0.48.0 - integrate list action into CRUD tools
  .claude/settings.local.json
  .coverage
  CLAUDE.md
  gns3_mcp/server/main.py
  gns3_mcp/server/resources/resource_manager.py
  gns3_mcp/server/tools/console_tools.py
  ssh-proxy/Dockerfile
  ssh-proxy/README.md
Due: pytest-fast

chore: bump version to 0.48.0
  .claude/settings.local.json
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

fix: improve error messages when GNS3 server unavailable
  .coverage
  gns3_mcp/server/gns3_client.py
  tests/unit/test_gns3_client.py
Due: pytest-fast

chore: bump version to 0.48.1
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

feat: verify PyPI package availability during service install
  server.cmd
Due: none

fix: make reinstall more robust by handling broken service states
  server.cmd
Due: none

fix: remove pause prompt after admin commands complete
  server.cmd
Due: none

perf: reduce service stop timeout from 30s to 5s
  GNS3-MCP-HTTP.xml
Due: none

feat: Docker deployment support (v0.49.0)
  .claude/settings.local.json
  .dockerignore
  .env.example
  .github/workflows/build-pypi-mcpb-windows.yml
  .github/workflows/docker-release.yml
  CHANGELOG.md
  Dockerfile
  README.md
  docker-compose.yml
  docs/DOCKER_HUB.md
  gns3_mcp/__init__.py
  justfile
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

docs: add Docker installation to GitHub release notes
  .github/workflows/build-pypi-mcpb-windows.yml
Due: none

feat: add abstraction interfaces for dependency inversion (GM-44)
  .claude/settings.local.json
  .coverage
  .github/workflows/build-pypi-mcpb-windows.yml
  ARCHITECTURE_REVIEW.md
  gns3_mcp/server/console_manager.py
  gns3_mcp/server/gns3_client.py
  gns3_mcp/server/interfaces.py
  gns3_mcp/server/main.py
  gns3_mcp/server/resources/project_resources.py
  gns3_mcp/server/resources/resource_manager.py
  gns3_mcp/server/resources/session_resources.py
  gns3_mcp/server/tools/console_tools.py
  gns3_mcp/server/tools/drawing_tools.py
  gns3_mcp/server/tools/link_tools.py
  gns3_mcp/server/tools/node_tools.py
  gns3_mcp/server/tools/project_tools.py
  gns3_mcp/server/tools/ssh_tools.py
  gns3_mcp/server/tools/template_tools.py
Due: pytest-fast

feat: split main.py into focused modules (GM-45)
  gns3_mcp/server/app.py
  gns3_mcp/server/context.py
  gns3_mcp/server/main.py
Due: pytest-fast

chore: bump version to 0.50.0 and update CHANGELOG
  .coverage
  CHANGELOG.md
  gns3_mcp/__init__.py
  mcp-server/manifest.json
  pyproject.toml
Due: pytest-fast, version-check

fix: add missing os import to main.py
  gns3_mcp/server/main.py
Due: pytest-fast

feat: implement dependency injection container (GM-46)
  gns3_mcp/server/app.py
  gns3_mcp/server/context.py
  gns3_mcp/server/di_container.py
  gns3_mcp/server/interfaces.py
  tests/unit/test_di_container.py
Due: pytest-fast

test: add comprehensive tests for Phase 1 abstractions (GM-47)
  tests/unit/test_context.py
Due: pytest-fast

docs: comprehensive DI documentation and code comments (GM-48)
  docs/DI_USAGE_GUIDE.md
  docs/GLOBAL_STATE_TRANSITION.md
  docs/MIGRATION_GM-46.md
  docs/architecture/decisions/ADR-006-dependency-injection.md
  gns3_mcp/server/app.py
  gns3_mcp/server/context.py
Due: pytest-fast

Path conditions:
  pytest-fast: any of: \.py$
  version-check: any of: ^(gns3_mcp/__init__\.py|pyproject\.toml|mcp-server/manifest\.json)$
